@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mart";
  src: url("../fonts/Mart-Bold.woff2") format("woff2"), url("../fonts/Mart-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Gotham", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 80px;
  flex-grow: 1;
}
@media (max-width: 830px) {
  .main {
    padding-top: 50px;
  }
}

.section {
  padding: 25px 0;
}
@media (max-width: 768px) {
  .section {
    padding: 15px 0;
  }
}

.title {
  font-family: "Mart";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1;
  text-align: center;
  color: #FE570B;
}
@media (max-width: 1200px) {
  .title {
    font-size: calc(28px + 17 * ((100vw - 320px) / 880));
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #FBF9F4;
  z-index: 5;
}
.header__body {
  display: flex;
  height: 80px;
  align-items: center;
}
@media (max-width: 830px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__logo {
  flex: 0 0 auto;
  display: block;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__menu {
  padding-left: 50px;
}
@media (max-width: 1200px) {
  .header__menu {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 880));
  }
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__link {
  color: #252525;
}
.header__phone {
  font-size: 20px;
  line-height: 20px;
  color: #252525;
  fill: #252525;
  position: relative;
  z-index: 15;
}
@media (min-width: 830px) {
  .header__phone {
    margin-left: auto;
  }
}

.icon-phone {
  width: 14px;
  height: 14px;
}

@media (max-width: 830px) {
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 30px;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    background: #252525;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.5s ease;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background: #252525;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 50px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: gray;
    transition: all 0.5s ease;
  }
  .header__menu.active {
    left: 0;
  }
  .header__list {
    flex-direction: column;
  }
}
.summer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
@media (max-width: 768px) {
  .summer__list {
    display: block;
  }
}
.summer__colums {
  border-right: 3px dashed #FBF9F4;
  padding: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.summer__colums:nth-child(1) {
  border-right: 0px;
}
.summer__colums:nth-child(4) {
  border-right: 0px;
}
@media (max-width: 768px) {
  .summer__colums {
    border-bottom: 3px dashed #FBF9F4;
    border-right: 0px;
  }
  .summer__colums:nth-child(1) {
    border-bottom: 0px;
  }
  .summer__colums:nth-child(4) {
    border-bottom: 0px;
  }
}
.summer__colums:first-child {
  padding: 0;
}
.summer__image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 0 0 30px;
}
@media (max-width: 768px) {
  .summer__image {
    width: 100%;
    border-radius: 30px 30px 0 0;
  }
}
.summer__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.summer__data {
  margin-bottom: 10px;
}
.summer__price {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.summer__sum span {
  color: #FE570B;
}
.summer__oldsum {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: line-through;
  color: #CDCDCD;
}
.summer__copy {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.summer__sublist {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 12px;
  line-height: 14px;
  font-variant: small-caps;
  color: #FFFFFF;
}
.summer__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #FFFFFF;
}
.summer__text {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.summer__text img {
  margin-right: 5px;
}
.summer__phone {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.summer__btn {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FAFAFA;
  background: #3464AE;
  border-radius: 15px;
}
.summer__btn-color {
  background: #FE570B;
}
.summer__broke {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.fon01 {
  margin-top: 55px;
  background: #F72D10;
}
@media (max-width: 768px) {
  .fon01 {
    margin-top: 25px;
  }
}

.fon02 {
  margin-top: 55px;
  background: #00BD4E;
}
@media (max-width: 768px) {
  .fon02 {
    margin-top: 25px;
  }
}

.fon03 {
  margin-top: 55px;
  background: #3464AE;
}
@media (max-width: 768px) {
  .fon03 {
    margin-top: 25px;
  }
}

.offer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  margin-top: 55px;
}
@media (max-width: 768px) {
  .offer__list {
    margin-top: 25px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.offer__cards {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}
.offer__image img {
  width: 100%;
  border-radius: 35px 35px 0 0;
}
.offer__content {
  padding: 15px;
}
.offer__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #252525;
}
.offer__text {
  font-size: 14px;
  line-height: 1.1;
  color: #252525;
}

@media (max-width: 768px) {
  .contacts {
    padding: 25px 0;
  }
}
.contacts__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  .contacts__inner {
    display: block;
  }
}
.contacts__content {
  text-align: center;
}
.contacts__title {
  margin-bottom: 30px;
  font-family: "Mart";
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: #252525;
}
@media (max-width: 1200px) {
  .contacts__title {
    font-size: calc(18px + 14 * ((100vw - 320px) / 880));
  }
}
.contacts__title span {
  color: #FBF9F4;
}
.contacts__phone {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 20px;
  padding: 20px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FAFAFA;
  background: #FE570B;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .contacts__phone {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768px) {
  .contacts__phone {
    padding: 10px 7px;
  }
}
.contacts__telegram {
  padding: 5px 10px 5px 5px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FAFAFA;
  background: #25A4E3;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .contacts__telegram {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
.contacts__telegram img {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .contacts__telegram img {
    width: 25px;
  }
}
@media (max-width: 768px) {
  .contacts__image {
    display: none;
  }
}

.bg-color01 {
  background: #FEC901;
}

.bg-color02 {
  background: #00BD4E;
}

.services__list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .services__list {
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.services__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.1;
  color: #181818;
}
@media (max-width: 1200px) {
  .services__item {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }
}
.services__item img {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .services__item img {
    width: 30px;
  }
}

.active__list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .active__list {
    margin-top: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.active__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.1;
  color: #181818;
}
@media (max-width: 1200px) {
  .active__item {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }
}
.active__item img {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .active__item img {
    width: 25px;
  }
}

.collective__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 55px;
}
@media (max-width: 768px) {
  .collective__inner {
    margin-top: 25px;
    flex-direction: column;
  }
}
.collective__image img {
  max-width: 100%;
}
.collective__text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .collective__text {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
.collective__text img {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .collective__text img {
    width: 30px;
  }
}
.collective__text:last-child {
  margin-bottom: 0px;
}

.swiper {
  padding: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
  color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #252525;
}

.feedback__item {
  flex: 0 0 442px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 20px;
}
.feedback__user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.5px;
  color: #000000;
}
@media (max-width: 1200px) {
  .feedback__user {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
.feedback__user img {
  margin-right: 20px;
}
@media (max-width: 768px) {
  .feedback__user img {
    width: 50px;
  }
}
.feedback__text {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.5px;
  color: #000000;
}
.feedback__image {
  position: absolute;
  top: 5%;
  right: 5%;
}
@media (max-width: 768px) {
  .feedback__image {
    width: 30px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
  transition: all 0.8s ease;
}
.popup__wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  display: flex;
  position: relative;
  max-width: 800px;
  background: #e6f2f2;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease;
  border-radius: 17px;
}
.popup__image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .popup__image {
    display: none;
  }
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  font-size: 20px;
  color: #000;
  transition: all 0.3s ease;
}
.popup__close:hover {
  color: red;
}
.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.anketa {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px 27px 30px;
}
.anketa__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  color: #252525;
  text-align: center;
}
@media (max-width: 768px) {
  .anketa__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.anketa__list {
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #252525;
}
.anketa__list li {
  margin-bottom: 20px;
}
.anketa__list li:last-child {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .anketa__list {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}
.anketa__input {
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #252525;
  background: transparent;
  border-bottom: 2px solid #252525;
}
@media (max-width: 768px) {
  .anketa__input {
    text-align: center;
  }
}
.anketa__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 18px 28px;
  background: #00b61d;
  border-radius: 15px 0px;
  font-size: 22px;
  color: #fff;
  transition: all 0.5s ease;
}
.anketa__btn:hover {
  background: #d34a42;
  color: #eaf2b2;
}
@media (max-width: 768px) {
  .anketa__btn {
    font-size: 16px;
    width: 250px;
    height: 52px;
  }
}

.anketa__input._error {
  box-shadow: 0 0 20px red;
}

.anketa::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url(../images/Dual.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}

.anketa._sending::after {
  opacity: 1;
  visibility: visible;
}

.anketa-section {
  position: relative;
}

.container.flex {
  display: flex;
  gap: 115px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .container.flex {
    gap: calc(20px + 95 * ((100vw - 320px) / 880));
  }
}

.hero {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 30px;
  font-family: "Mart";
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1;
  display: flex;
  color: #FE570B;
}
@media (max-width: 1200px) {
  .hero__title {
    font-size: calc(32px + 13 * ((100vw - 320px) / 880));
  }
}

.hero__subtitle {
  margin-bottom: 60px;
  font-family: "Mart";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  color: #00BD4E;
}
@media (max-width: 1200px) {
  .hero__subtitle {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 800px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .hero__inner {
    width: calc(300px + 500 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768px) {
  .hero__inner {
    width: auto;
  }
}

.hero__btn {
  display: flex;
  padding: 14px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FAFAFA;
  background: #FE570B;
  border-radius: 50px;
}

.hero__image01 {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media (max-width: 1300px) {
  .hero__image01 {
    width: 220px;
  }
}
@media (max-width: 1065px) {
  .hero__image01 {
    width: 180px;
  }
}
@media (max-width: 850px) {
  .hero__image01 {
    display: none;
  }
}

.hero__image02 {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media (max-width: 1300px) {
  .hero__image02 {
    width: 220px;
  }
}
@media (max-width: 1065px) {
  .hero__image02 {
    width: 180px;
  }
}
@media (max-width: 850px) {
  .hero__image02 {
    display: none;
  }
}