.footer {
    padding: 36px 0;
    background: url(../images/footer-fon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // .footer__inner

    &__inner {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media (max-width:768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .footer__image

    &__image {
        img {
            border-radius: 25px;
            max-width: 100%;
        }

        @media (max-width:768px) {
            display: none;
        }
    }

    // .footer__content

    &__content {
        text-align: center;
    }

    // .footer__title

    &__title {
        margin-bottom: 15px;
        font-family: 'Mart';
        font-weight: 700;
        @include adaptiv-value('font-size', 45, 32);
        line-height: 1.1;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    // .footer__tel

    &__tel {
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
        @include adaptiv-value('font-size', 36, 24);
        line-height: 1.1;
        color: #FAFAFA;
    }

    // .footer__email

    &__email {
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
        @include adaptiv-value('font-size', 36, 24);
        line-height: 1.1;
        text-transform: lowercase;
        color: #FAFAFA;
    }

    // .footer__telegram

    &__telegram {}
}

.container {}