.hero {
    position: relative;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero__title {
    position: relative;
    margin-bottom: 30px;
    font-family: 'Mart';
    font-weight: 700;
    @include adaptiv-value('font-size', 45, 32);
    line-height: 1.1;
    display: flex;
    color: #FE570B;
}

.hero__subtitle {
    margin-bottom: 60px;
    font-family: 'Mart';
    font-weight: 700;
    @include adaptiv-value('font-size', 32, 24);
    line-height: 1.1;
    color: #00BD4E;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include adaptiv-value('width', 800, 300);
    margin-bottom: 40px;

    @media (max-width: 768px) {
        width: auto;
    }
}

.hero__btn {
    display: flex;
    padding: 14px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FAFAFA;
    background: #FE570B;
    border-radius: 50px;
}

.hero__image01 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;

    @media (max-width: 1300px) {
        width: 220px;
    }

    @media (max-width: 1065px) {
        width: 180px;
    }

    @media (max-width: 850px) {
        display: none;
    }
}

.hero__image02 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;

    @media (max-width: 1300px) {
        width: 220px;
    }

    @media (max-width: 1065px) {
        width: 180px;
    }

    @media (max-width: 850px) {
        display: none;
    }
}