.services {

    // .services__list

    &__list {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @media (max-width: 768px) {
            margin-top: 25px;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    // .services__item

    &__item {
        display: flex;
        align-items: center;
        @include adaptiv-value('font-size', 18, 12);
        line-height: 1.1;
        color: #181818;

        img {
            margin-right: 10px;

            @media (max-width: 768px) {
                width: 30px;
            }
        }
    }
}