.summer {

    // .summer__list

    &__list {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 55px;

        @media (max-width: 768px) {
            margin-top: 25px;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }

    // .summer__card

    &__card {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    &__image {
        img {
            border-radius: 30px 30px 0 0;
            width: 100%;
        }
    }

    // .summer__content

    &__content {
        padding: 10px;
        text-align: center;
    }

    // .summer__title

    &__title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1;

        color: #252525;
    }

    // .summer__data

    &__data {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.1;
        color: #252525;
    }

    // .summer__price

    &__price {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;

        color: #252525;
    }

    // .summer__submit

    &__submit {
        display: inline-block;
        padding: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;

        color: #FAFAFA;
        background: #FE570B;
        border-radius: 15px;
    }

    // .summer__detali

    &__detali {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        color: #252525;
    }

    // .summer__sum

    &__sum {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1;
        color: #FE570B;
    }

    // .summer__oldsum

    &__oldsum {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        text-decoration: line-through;

        color: #9C9C9C;
    }

    // .summer__transfer

    &__transfer {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.1;
        text-transform: uppercase;

        color: #252525;

        span {
            color: #00BD4E;
        }
    }
}